
nav ul li a{
    font-weight: bold!important;

}

nav ul li a:hover{
    color: rgb(251, 255, 0)!important;
}

#ctref{
    font-weight: bold!important;
    color: rgb(251, 255, 0);
}


.carousel-inner > .carousel-item > img {
    width: 80%;
    height: 90vh; 
  }

  #rodape{
      color: white;
  }